body {
    background-color: bisque;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: x-large;
    border-width: 1px 0;
    text-align: left;
}

nav {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(5, 1fr);
}

li {
    display: inline;
}

.suicide-nav {
    text-align: center;
    font-family: 'Golos Text', sans-serif;
}

.morgue-nav {
    text-align: center;
    font-family: 'Golos Text', sans-serif;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pouya-nav {
    text-align: center;
    font-family: 'Golos Text', sans-serif;
}

.ghoste {
    text-align: center;
    font-family: 'Golos Text', sans-serif;
}

a {
    display:inline-block;
    padding: 10px;
    color: rgb(23, 18, 18)
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.sblogo {
    padding: 50px;
}

.album-card {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    padding:  20px 50px 50px;
}

.album-card h5 {
    text-align: center;
    color: white;
}

.album-card h6 {
    text-align: center;
    color: white;
}

.album-image {
    justify-items: center;
    align-items: center;
}

img {
    border: 10px solid white;
}

.sblogo {
    border: 0;
    border-color: none;
}

.album-info {
    background-color: black;
    opacity: 0.6;
}