body {
    background-color: rgb(244, 188, 119);
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: x-large;
    border-width: 1px 0;
    text-align: left;
}

nav {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(5, 1fr);
}

li {
    display: inline;
}

.suicide-nav {
    text-align: center;
    font-family: 'Golos Text', sans-serif;
}

.morgue-nav {
    text-align: center;
    font-family: 'Golos Text', sans-serif;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 0;
}

.pouya-nav {
    text-align: center;
    font-family: 'Golos Text', sans-serif;
}

.ghoste {
    text-align: center;
    font-family: 'Golos Text', sans-serif;
}

a {
    display:inline-block;
    padding: 10px;
    color: rgb(23, 18, 18)
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.sblogo {
    padding: 50px;
}

.album-cards {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(3, 1fr);
    row-gap: 100px;
    justify-items: center;
    align-items: center;
    padding:  20px 50px 50px 50px;
}

.CMalbum-cards {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    row-gap: 100px;
    justify-items: center;
    align-items: center;
    padding: 20px 50px 50px;
}

.Palbum-cards {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    row-gap: 100px;
    justify-items: center;
    align-items: center;
    padding: 20px 50px 50px;
}

.ghost-cards {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    row-gap: 100px;
    justify-items: center;
    align-items: center;
    padding: 20px 50px 50px;
}

.album-card h5 {
    text-align: center;
    color: white;
    margin: 0;
    line-height: 2;
}

.album-card p {
    text-align: center;
    color: white;
    line-height: 2;
}

.album-card {
    justify-items: center;
    align-items: center;
}

.album-card img {
    vertical-align: bottom;
}

img {
    border: 10px solid white;
}

.sblogo {
    border: 0;
}

.album-info {
    background-color: black;
    opacity: 0.6;
}

.CMalbum-card h5 {
    text-align: center;
    color: white;
    margin: 0;
    line-height: 2;
}

.CMalbum-card p {
    text-align: center;
    color: white;
    line-height: 2;
}

.CMalbum-card {
    justify-items: center;
    align-items: center;
}

.CMalbum-card img {
    vertical-align: bottom;
}

.CMalbum-info {
    background-color: black;
    opacity: 0.6;
    width: 269.2px;
}

.Palbum-card h5 {
    text-align: center;
    color: white;
    margin: 0;
    line-height: 2;
}

.Palbum-card p {
    text-align: center;
    color: white;
    line-height: 2;
}

.Palbum-card {
    justify-items: center;
    align-items: center;
}

.Palbum-card img {
    vertical-align: bottom;
}

.Palbum-info {
    background-color: black;
    opacity: 0.6;
}

.ghost-card h5 {
    text-align: center;
    color: white;
    margin: 0;
    line-height: 2;
}

.ghost-card p {
    text-align: center;
    color: white;
    line-height: 2;
}

.ghost-card {
    justify-items: center;
    align-items: center;
}

.ghost-card img {
    vertical-align: bottom;
}

.ghostalbum-info {
    background-color: black;
    opacity: 0.6;
}